<h1>Discs</h1>

<% @discs.each do |disc| %>
    <%= disc.name %>
    <%= disc.brand %>
    <%= disc.color %>
    <%= disc.speed %>
    <%= disc.glide %>
    <%= disc.turn %>
    <%= disc.fade %>
<% end %>