    <h1><%= @disc.name %></h1>
    <%= @disc.brand %>
    <%= @disc.color %>
    <%= @disc.speed %>
    <%= @disc.glide %>
    <%= @disc.turn %>
    <%= @disc.fade %>

<% if @disc.user_id == current_user.id %>
    <a href="/discs/<%= @disc.id %>/edit">Edit this disc</a><br />
    <h3>Would you like to remove this disc?</h3>
    <form method="POST" action="/discs/<%= @disc.id %>">
        <input type="hidden" id="hidden" name="_method" value="DELETE">
        <input type="submit" value="delete">
    </form>

<% end %>

<a href="/discs">Home</a>