    <h1><%= @disc.name %></h1>
    <ul>
        <li>Brand: <%= @disc.brand %></li>
        <li>Color: <%= @disc.color %></li>
        <li>Speed: <%= @disc.speed %></li>
        <li>Glide: <%= @disc.glide %></li>
        <li>Turn: <%= @disc.turn %></li>
        <li>Fade: <%= @disc.fade %></li>
    </ul>
    <br>
<% if @disc.user_id == current_user.id %>
    <p><a href="/discs/<%= @disc.id %>/edit">Edit this disc</a></p>
    <form method="POST" action="/discs/<%= @disc.id %>">
        <input type="hidden" id="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete this disc">
    </form>

<% end %>
<br>

<h3><a href="/discs">Home</a></h3>